h1 {
	text-align: center;
	color: white;
	font-family: 'Pacifico', cursive;
	font-size: 3rem;
}

.we-sell-donuts {
	background-image: url("1-55-700x434.jpg");
  background-size: cover;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.information {
	margin: 30px;
}

.common-title {
	margin-top: 70px;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 3rem;
}

.card-wrapper {
	width: 100%;
	margin-top: 54px;
	display: grid;
	row-gap: 50px;
}

@media (min-width: 1500px) {
	.card-wrapper {
			grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 1499px) and (min-width: 1000px) {
	.card-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 999px) {
	.card-wrapper {
			grid-template-columns: 1fr;
	}
}

.card {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 8px 16px;
	margin: 0 20px;
}

.card span {
	font-size: 16px;
	color: #283544;
}

#footer {
	margin-top: 30px;
		padding: 50px;
		background: #172132;
		justify-content: space-between;
		display: flex;
}

.footer-info {
	align-items: flex-start;
	color: #43A1FF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
		.footer-list > span:not(:first-child) {
			margin-top: 16px;
		}

		.footer-list > span:not(:first-child):hover {
			cursor: pointer;
		}

		.footer-list > span:first-child {
			color: white;
			font-size: 18px;
			margin-bottom: 8px;
		}

@media (min-width: 1200px) {
	.footer-info {
		flex-direction: row;
	}
	#footer {
		flex-direction: column;
	}
}

@media (max-width: 1199px) {
	.footer-info {
		flex-direction: column;
		margin: auto;
	}
	#footer {
		flex-direction: row;
	}
	.footer-list, .sign-up {
		margin-top: 40px;
	}
}

.feedback {
	border: 2px solid #0D87FF;
	box-sizing: border-box;
	color: white;
	padding: 8px 16px;
	margin-left: 24px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
		.feedback:hover {
			cursor: pointer;
		}

html,
body {
  min-height: 100%;
	margin: 0;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}
